@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";


*,a,button{
   font-family: "Inter", sans-serif;
}

.font-playfair{
   font-family: "Playfair", serif;
}

.no-scrollbar::-webkit-scrollbar {
          display: none;
        }
        .no-scrollbar {
          -ms-overflow-style: none;
          scrollbar-width: none;
        }

        /* filter range */
        /* Custom styling for the range slider thumbs */
.range-input {
  appearance: none;
  -webkit-appearance: none;
  pointer-events: none;
}

/* For Chrome, Safari, and Edge */
.range-input::-webkit-slider-thumb {
  pointer-events: auto; 
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  border: 2px solid black;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.1s ease;
}

.range-input::-webkit-slider-thumb:hover {
  transform: scale(1.1);
  background: #f9f9f9;
}

/* For Firefox */
.range-input::-moz-range-thumb {
  pointer-events: auto;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: white;
  border: 2px solid black;
  cursor: pointer;
}