@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";


*,a,button{
   font-family: "Inter", sans-serif;
}

.font-playfair{
   font-family: "Playfair", serif;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #00000040 !important; /* subtle black */
  opacity: 1;
  transition: all 0.3s ease;
}

/* Active bullet */
.swiper-pagination-bullet-active {
  background: #8B2C34 !important; /* brand accent */
  transform: scale(1.3);
}

/* Optional hover effect */
.swiper-pagination-bullet:hover {
  background-color: #8B2C34;
}

